openapi: 3.0.3

info:
  title: ZimaOS API
  version: v1

servers:
  - url: /v1

tags:
  - name: System methonds
    description: System related operations
  - name: Notify methods
    description: Notify related operations
  - name: Other methods
    description: Other operations

security:
  - access_token: []

paths:
  /sys/hardware:
    get:
      summary: Get hardware information
      tags:
        - System methonds
      operationId: getHardware
      responses:
        "200":
          $ref: "#/components/responses/ResponseHardwareInfoOK"
        "500":
          $ref: "#/components/responses/ResponseInternalServerError"

  /sys/logs:
    get:
      summary: Get logs
      tags:
        - System methonds
      operationId: getLogs
      parameters:
        - $ref: "#/components/parameters/logs_line"
      responses:
        "200":
          $ref: "#/components/responses/ResponseStringOK"

  /sys/stop:
    post:
      summary: Stop the system
      tags:
        - System methonds
      operationId: stopSystem
      responses:
        "200":
          $ref: "#/components/responses/OKResponse"

  /sys/utilization:
    get:
      summary: Get system utilization
      tags:
        - System methonds
      operationId: getUtilization
      responses:
        "200":
          $ref: "#/components/responses/ResponseSystemUtilizationOK"

  /sys/proxy:
    get:
      summary: Get proxy information
      tags:
        - System methonds
      operationId: getProxy
      parameters:
        - $ref: "#/components/parameters/proxy_url"
      responses:
        "500":
          $ref: "#/components/responses/ResponseInternalServerError"

  /sys/state/{state}:
    put:
      summary: Set system state
      tags:
        - System methonds
      operationId: setSystemState
      parameters:
        - $ref: "#/components/parameters/state"
      responses:
        "200":
          $ref: "#/components/responses/ResponseStringOK"

  /sys/entry:
    get:
      summary: Get system entry
      tags:
        - System methonds
      operationId: getSystemEntry
      responses:
        "200":
          $ref: "#/components/responses/ResponseStringOK"
        "500":
          $ref: "#/components/responses/ResponseInternalServerError"

  /port:
    get:
      summary: Get port
      tags:
        - System methonds
      operationId: getPort
      responses:
        "200":
          $ref: "#/components/responses/ResponseIntegerOK"

  /port/state/{port}:
    put:
      summary: Set port state
      tags:
        - System methonds
      operationId: setPortState
      parameters:
        - $ref: "#/components/parameters/port"
      responses:
        "200":
          $ref: "#/components/responses/ResponseBoolOK"

  /notify/{path}:
    post:
      summary: Notify system
      tags:
        - Notify methods
      operationId: notifySystem
      parameters:
        - $ref: "#/components/parameters/path"
      responses:
        "200":
          $ref: "#/components/responses/OKResponse"
        "400":
          $ref: "#/components/responses/ResponseInvalidParams"

  /notify/system_status:
    post:
      summary: Notify system status
      tags:
        - Notify methods
      operationId: notifySystemStatus
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          $ref: "#/components/responses/OKResponse"
        "400":
          $ref: "#/components/responses/ResponseInvalidParams"

  /other/search:
    get:
      summary: Search
      tags:
        - Other methods
      operationId: search
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  example: "example"
      responses:
        "200":
          $ref: "#/components/responses/ResponseBytesOK"
        "400":
          $ref: "#/components/responses/ResponseInvalidParams"
        "500":
          $ref: "#/components/responses/ResponseInternalServerError"

  /zt/{url}:
    get:
      summary: Zerotier proxy
      tags:
        - Other methods
      operationId: zerotierProxy
      parameters:
        - $ref: "#/components/parameters/zt_url"
      responses:
        "500":
          $ref: "#/components/responses/ResponseInternalServerError"

components:
  securitySchemes:
    access_token:
      type: apiKey
      in: header
      name: Authorization

  parameters:
    logs_line:
      name: line
      in: query
      description: Number of log lines
      required: false
      schema:
        type: integer
        example: 100
    proxy_url:
      name: url
      in: query
      description: Proxy URL
      required: true
      schema:
        type: string
        example: "http://example.com"
    zt_url:
      name: url
      in: path
      description: Proxy URL
      required: true
      schema:
        type: string
        example: "http://example.com"
    state:
      name: state
      in: path
      description: System state
      required: true
      schema:
        type: string
        enum:
          - "start"
          - "stop"
    path:
      name: "name"
      in: path
      description: Notify name
      required: true
      schema:
        type: string
        enum:
          - "system_status"
          - "system_error"
          - "system_warning"
    port:
      name: port
      in: path
      description: Port number
      required: true
      schema:
        type: integer
        example: 8080

  responses:
    OKResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            $ref: "#/components/schemas/BaseResponse"
    ResponseStringOK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponseString"
    ResponseBoolOK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponseBool"
    ResponseIntegerOK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponseInteger"
    ResponseBytesOK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponseBytes"
    ResponseInternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            readOnly: true
            allOf:
              - $ref: "#/components/schemas/BaseResponse"
          example:
            message: "Internal Server Error"
    ResponseInvalidParams:
      description: Invalid params
      content:
        application/json:
          schema:
            readOnly: true
            allOf:
              - $ref: "#/components/schemas/BaseResponse"
          example:
            message: "Invalid params"
    ResponseHardwareInfoOK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/HardwareInfo"
    ResponseLogsOK:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              logs:
                type: string
                example: "logs"
    ResponseSystemUtilizationOK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SystemUtilization"

  schemas:
    BaseResponse:
      type: object
      properties:
        message:
          readOnly: true
          type: string
          example: "Bad request"
          description: Error message

    SuccessResponseString:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - properties:
            data:
              type: string
              description: When the interface returns success, this field is the specific success information

    SuccessResponseBool:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - properties:
            data:
              type: boolean
              description: When the interface returns success, this field is the specific success information

    SuccessResponseInteger:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - properties:
            data:
              type: integer
              description: When the interface returns success, this field is the specific success information

    SuccessResponseBytes:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - properties:
            data:
              type: string
              format: byte
              description: When the interface returns success, this field is the specific success information

    GPUInfo:
      type: object
      properties:
        memory_free:
          type: string
          example: "1GB"
        memory_total:
          type: string
          example: "4GB"
        memory_used:
          type: string
          example: "3GB"
        memory_utilization:
          type: string
          example: "75%"
        name:
          type: string
          example: "NVIDIA GeForce RTX A2000"
        power_draw:
          type: string
          example: "100W"
        power_limit:
          type: string
          example: "150W"
        temperature:
          type: string
          example: "50°C"
        utilization:
          type: string
          example: "75%"
        uuid:
          type: string
          example: "GPU-123456"

    HardwareInfo:
      type: object
      properties:
        drive_model:
          type: string
          example: "ST1000DM003-1SB102"
        arch:
          type: string
          example: "x86_64"

    SystemUtilization:
      type: object
      properties:
        cpu:
          type: object
          properties:
            percent:
              type: string
              example: "10%"
            num:
              type: integer
              example: 4
            temperature:
              type: string
              example: "10°C"
            power:
              type: string
              example: "10W"
            model:
              type: string
              example: "intel"
        mem:
          type: string
          example: "1GB"
        gpu:
          $ref: "#/components/schemas/GPUInfo"
